:root {
    --orange: hsla(25, 94%, 54%, 1);
    --black: hsla(0, 0%, 7%, 1);
    --black-grey: hsla(0, 0%, 16%, 1);
    --grey: hsla(0, 0%, 35%, 1);
    --grey-wt: hsla(0, 0%, 72%, 1);
    --wt: hsla(0, 0%, 97%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --ffc226:hsla(43, 100%, 57%, 1);
    --f84119:hsla(11, 94%, 54%, 1);
    --f89f19:hsla(36, 94%, 54%, 0.68);
    --linea1: linear-gradient(141.22deg, var(--ffc226) 9.4%, var(--f84119) 91.91%);
    --linea2: linear-gradient(141.22deg, var(--f84119) 9.4%, var(--f89f19) 91.91%);








}