.header {
  z-index: 100;
  width: 100%;
  background-color: var(--black);
}

.header-nav {
  display: flex;
  align-items: center;
  // text-align: center;
  justify-content: space-between;
}

.header-logo-link {
  font-size: 24px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  color: var(--grey);
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--grey);
}

.header-title {
  margin-left: 8px;

  color: var(--grey);
}


.header-toggle {
  padding: 0;
  border-style: none;
}

.svg-moon {
  position: absolute;
  top: 5px;
  left: 4px;
}

.svg-sun {
  position: absolute;
  left: 42px;
  top: 5px;
}

.svg-toggle {
  position: absolute;
  top: 3px;
  left: 39px;
  stroke: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  fill: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
}

// input[type='radio'] {
//   opacity: 0;
// }
.toggle-wrapper {
  position: relative;
  width: 60px;
  height: 24px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 194px;
}
.input-dark {
  opacity: 0;
}
.input-light {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .header-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
  
  }
}
